#navbar{
    position: sticky;
    top:0;
    z-index: 1;
    width: 100%;
    height: 10vh;
   
}

#content{
    height:80vh;
    /* z-index: -1; */
    /* overflow-y:scroll; */
    width: 100%;
    margin: auto;
}

.write_post{
    width:70%;
    margin:auto
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    
}

footer a{
    color:white;
    /* height: 0vh; */
}

 #post-content{
    z-index: 10 ;
}

#content .card{
    margin:20px
}
a:hover{
    color:black;
}